VARIATION=mc #set your jana calib context here with or without calibtime Default is variation=mc

RCDB_QUERY=@is_dirc_production and @status_approved
DATA_OUTPUT_BASE_DIR=/sim/gen2k_test
CUSTOM_GCONTROL=/gluex_top/gluex_MCwrapper/gluex_MCwrapper-v2.13.0/Gcontrol.in
NCORES=1      # Number of CPU threads to use or nodes:node-id:ppn or nodes:ppn depending on your system

GENERATOR=gen_2k #or you may specifile file:/.../file-to-use.hddm
GENERATOR_CONFIG=/gluex_top/config_files/gen_2k.cfg

#common parameters for generators
FLUX_TO_GEN=ccdb
eBEAM_ENERGY=11.4 #either use rcdb or do not set to pull the value for the chosen run number from the rcdb
RADIATOR_THICKNESS=50.e-06 #either use rcdb or do not set to pull the value for the chosen run number from the rcdb
COHERENT_PEAK=8.6 #either use rcdb or do not set to pull the value for the chosen run number from the rcdb
GEN_MIN_ENERGY=6.0
GEN_MAX_ENERGY=11.4

GEANT_VERSION=4
BKG=None
#BKG=Random:recon-2019_11-ver01

CUSTOM_PLUGINS=file:/gluex_top/config_files/jana_reco.conf
ENVIRONMENT=/gluex_top/config_files/environment.sh
#ANA_ENVIRONMENT_FILE=/gluex_top/config_files/setup_gluex.sh
#CUSTOM_ANA_PLUGINS=file:/gluex_top/config_files/jana_reac.conf

#====================================================================================
#EVERYTHING BELOW FOR BATCH ONLY

#VERBOSE=True

BATCH_SYSTEM=swif2 #can be swif or condor or osg or qsub adding :[name] will pass -q [name] into PBS.

#environment file location
ENVIRONMENT_FILE=/gluex_top/config_files/environment.sh     #change this to your own environment file

WORKFLOW_NAME=gen_2k_dircsim #SWIF WORKFLOW NAME
ACCOUNT = halld
PARTITION = production

# RESOURCES for swif jobs
DISK=5GB            # Max Disk usage
RAM=2GB            # Max RAM usage
TIMELIMIT=1200minutes      # Max walltime.  This may be of the form xx:xx:xx depending on your system
OS=el9        # Specify CentOS65 machines
